# NumPy
Numerical Python

In [1]:
import numpy as np

In [2]:
dados = np.random.rand(2, 3)    #cria uma matriz 2x3 com números aleatórios
dados

array([[0.23835503, 0.43779201, 0.92494944],
       [0.11504045, 0.50059469, 0.44564193]])

In [3]:
dados.dtype

dtype('float64')

In [4]:
dados.shape #(linhas, colunas)

(2, 3)

In [5]:
dados.ndim  #dimensão(linhas e colunas formam uma dimensão 2)

2

In [8]:
lista = [1, 2, 5, 7.8, 1.25]    #como criar uma lista
lista

[1, 2, 5, 7.8, 1.25]

In [9]:
dados2 = np.array(lista)    #criar um array a partir de uma lista
dados2

array([1.  , 2.  , 5.  , 7.8 , 1.25])

In [10]:
lista2 = [[1, 2, 3], [3, 2, 1]]
lista2

[[1, 2, 3], [3, 2, 1]]

In [12]:
dados3 = np.array(lista2)
dados3

array([[1, 2, 3],
       [3, 2, 1]])

In [13]:
dadosZero = np.zeros(10)
dadosZero

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [15]:
dadosZero2 = np.zeros((2, 3))
dadosZero2

array([[0., 0., 0.],
       [0., 0., 0.]])

In [17]:
dadosUm = np.ones(10)
dadosUm

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [18]:
dadosSeq = np.arange(10)
dadosSeq

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [19]:
dadosSeq2 = np.arange(0, 20, 2) #cria um array de 0 a 20 de 2 em 2
dadosSeq2

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [20]:
dadosSeq2.dtype

dtype('int64')

In [22]:
dadosSeq2 = dadosSeq2.astype(float) #muda o tipo de dado
dadosSeq2.dtype

dtype('float64')

In [23]:
dados4 = np.array([[1, 2, 3], [4, 5, 6]])
dados4

array([[1, 2, 3],
       [4, 5, 6]])

In [24]:
dados4 * dados4 #multiplica os elementos de cada posição

array([[ 1,  4,  9],
       [16, 25, 36]])

In [25]:
dados4 - dados4 #subtrai os elementos de cada posição

array([[0, 0, 0],
       [0, 0, 0]])

In [26]:
1 / dados4 #divide 1 por cada elemento

array([[1.        , 0.5       , 0.33333333],
       [0.25      , 0.2       , 0.16666667]])

In [28]:
dados5 = dados4 + dados4
dados5

array([[ 2,  4,  6],
       [ 8, 10, 12]])

In [29]:
dados5 > dados4

array([[ True,  True,  True],
       [ True,  True,  True]])

In [30]:
dadosSeq

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [32]:
dadosSeq[5]

5

In [35]:
dadosSeq[1:5] #pega os elementos de 1 a 4 o último não entra

array([1, 2, 3, 4])

In [36]:
dadosSeq[2:4] = 100
dadosSeq

array([  0,   1, 100, 100,   4,   5,   6,   7,   8,   9])

In [38]:
fatiaDados = dadosSeq[2:4]
fatiaDados

array([100, 100])

In [39]:
fatiaDados[1] = 2000
fatiaDados

array([ 100, 2000])

In [40]:
dadosSeq #altera o valor do array original pois é parte dele

array([   0,    1,  100, 2000,    4,    5,    6,    7,    8,    9])

In [42]:
fatiaDados[:] = 333
dadosSeq

array([  0,   1, 333, 333,   4,   5,   6,   7,   8,   9])

In [43]:
fatiaDados2 = dadosSeq.copy() #cria uma cópia, agora não altera mais o array original
fatiaDados2[:] = 111
fatiaDados2

array([111, 111, 111, 111, 111, 111, 111, 111, 111, 111])

In [44]:
dadosSeq

array([  0,   1, 333, 333,   4,   5,   6,   7,   8,   9])

In [45]:
dados6 = np.array([[1, 2 , 3], [4, 5, 6], [7, 8, 9]])
dados6

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [46]:
dados6[1, 2]

6

In [47]:
dadosSeq

array([  0,   1, 333, 333,   4,   5,   6,   7,   8,   9])

In [49]:
mascara = dadosSeq < 300
mascara

array([ True,  True, False, False,  True,  True,  True,  True,  True,
        True])

In [51]:
dadosSeq[dadosSeq < 20] = 888 #atribui 888 aos valores que são menores que 20 no array
dadosSeq

array([888, 888, 333, 333, 888, 888, 888, 888, 888, 888])

In [52]:
dados7 = np.arange(15).reshape((3, 5)) #cria um array de 15 valores e transforma em uma matriz 3x5
dados7

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [53]:
dados7.T #transpõe a matriz

array([[ 0,  5, 10],
       [ 1,  6, 11],
       [ 2,  7, 12],
       [ 3,  8, 13],
       [ 4,  9, 14]])

In [54]:
np.dot(dados7.T, dados7) #multiplica a matriz por sua transposta

array([[125, 140, 155, 170, 185],
       [140, 158, 176, 194, 212],
       [155, 176, 197, 218, 239],
       [170, 194, 218, 242, 266],
       [185, 212, 239, 266, 293]])